<template>
  <nav>
    <v-app-bar flat app class="grey lighten-5">
      <v-app-bar-nav-icon class="grey--text" @click="drawer =!drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Vue</span>
        <span>Flask Crud</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn tile outlined color="grey">
        <span>Hola</span>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app class="grey lighten-5">
      <v-list rounded nav dense>
        <v-list-item v-for="item in items" :key="item.title" link router :to="item.route">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<style>
</style>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      drawer: true,
      items: [
          { title: 'Principal', icon: 'dashboard',route:'/' },
          { title: 'Personas', icon: 'account_box',route:'/verpersonas' },
          { title: 'Agregar', icon: 'gavel',route:'/agregarpersona' },
          { title: 'Actualizar', icon: 'gavel',route:'/actualizarpersona' },
          { title: 'Eliminar', icon: 'gavel',route:'/borrarpersona' },
        ],
    };
  }
};
</script>