<template>
  <div class="agregarpersona">
    <h1 class="subheading grey--text">Actualizar Persona</h1>
    <Dialog v-model="showmodal" msg="modificado" />

    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <span class>Datos a actualizar</span>
            </v-card-title>
            <v-container>
              <v-layout row wrap class="mx-4 mb-4">
                <v-flex xs1 class="mx-4 mb-4">
                  <span>Id</span>
                  <v-text-field dense v-model="id" outlined></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap class="mx-4 mb-4">
                <v-flex xs3 class="grey--text mx-4 mb-4">
                  <span>Nombre</span>
                  <v-text-field dense v-model="nombre" id="id" outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class="grey--text mx-4 mb-4">
                  <span>FechaNacimiento</span>
                  <v-text-field dense v-model="fechanacimiento" id="id" outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class="grey--text mx-4 mb-4">
                  <span>Puesto</span>
                  <v-text-field dense v-model="puesto" id="id" outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class="grey--text mx-4 mb-4">
                  <v-btn color="success" @click="agregarPersona()">Actualizar</v-btn>
                </v-flex>
              </v-layout>
              <v-layout row wrap></v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import Dialog from "../components/Dialog.vue";
export default {
  components: {
    Dialog
  },
  data() {
    return {
      id: 0,
      nombre: "",
      fechanacimiento: "",
      puesto: "",
      msg: "",
      showmodal: false
    };
  },
  methods: {
    //Forma de consumo 1 con axios
    agregarPersona() {
      this.datos = [];
      //https://flaskapiejemplo.herokuapp.com/personas
      axios
        .put("https://flaskapiejemplo.herokuapp.com/personas", {
          id: this.id,
          nombre: this.nombre,
          fechanacimiento: this.fechanacimiento,
          puesto: this.puesto
        })
        .then(response => {
          this.msg = response.data.msg;
          this.showmodal = true;
        });
    }
  }
};
</script>

<style>
</style>