<template>
  <div class="agregarpersona">
    <h1 class="subheading grey--text">Agregar Persona</h1>
    <Dialog v-model="showmodal" msg="hola" />

    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card outlined>
            <v-container>
              <v-card-title class="mx-4" primary-title>
                <span class>Datos de la persona</span>
              </v-card-title>
              <v-layout row wrap class="mx-4 mb-4">
                <v-flex xs3 class="mx-4 mb-4">
                  <span>Nombre</span>
                  <v-text-field v-model="nombre" id="id" dense outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class=" mx-4 mb-4">
                  <span>Fecha Nacimiento</span>
                  <v-text-field v-model="fechanacimiento" dense id="id" outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class="mx-4 mb-4">
                  <span>Puesto</span>
                  <v-text-field v-model="puesto" id="id" dense outlined></v-text-field>
                </v-flex>
                <v-flex xs3 class="mx-4 mb-4">
                  <v-btn color="success" @click="agregarPersona()">Agregar</v-btn>
                </v-flex>
              </v-layout>
              <v-layout row wrap></v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import Dialog from "../components/Dialog.vue";
export default {
  components: {
    Dialog
  },
  data() {
    return {
      nombre: "",
      fechanacimiento: "",
      puesto: "",
      msg: "",
      showmodal: false
    };
  },
  methods: {
    //Forma de consumo 1 con axios
    agregarPersona() {
      this.datos = [];
      axios
        .post("https://flaskapiejemplo.herokuapp.com/personas", {
          nombre: this.nombre,
          fechanacimiento: this.fechanacimiento,
          puesto: this.puesto
        })
        .then(response => {
          this.msg = response.data.msg;
          this.showmodal = true;
        });
    }
  }
};
</script>

<style>
</style>