<template>
  <div class="eliminarPersona">
    <h1 class="subheading grey--text">Eliminar Persona</h1>
    <Dialog v-model="showmodal" msg="modificado" />

    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <span class>Proporcione el id a eliminar</span>
            </v-card-title>
            <v-container>
              <v-layout row wrap class="mx-4 mb-4">
                <v-flex xs1 class="mx-4 mb-4">
                  <span>Id</span>
                  <v-text-field dense v-model="id" outlined></v-text-field>
                  <v-btn color="success" @click="agregarPersona()">Eliminar</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
import Dialog from "../components/Dialog.vue";
export default {
  components: {
    Dialog
  },
  data() {
    return {
      id: 0,
      nombre: "",
      fechanacimiento: "",
      puesto: "",
      msg: "",
      showmodal: false
    };
  },
  methods: {
    //Forma de consumo 1 con axios
    agregarPersona() {
      this.datos = [];
      axios
        .delete("https://flaskapiejemplo.herokuapp.com/personas/"+this.id)
        .then(response => {
          this.msg = response.data.msg;
          this.showmodal = true;
        });
    }
  }
};
</script>

<style>
</style>