<template>
  <v-card>
    <v-card-title>Bienvenido</v-card-title>
    <v-card-subtitle>VueJs-Flask(Python) CRUD</v-card-subtitle>
    <v-card-text>
      <div>
        <p class="h3">
          Este es un pequeño crud desarrollado con Vuejs + Vuetify para la parte del front y Flask(Python) para el backend en conjunto de una BD de postgresql.
          <br />
          <span>A continuacion se dan unas breves explicaciones sobre el uso:</span>
        </p>
        <ul v-for="item in items" :key="item.text">
          <li>
            <span class="font-weight-black">{{item.text}}</span>
          </li>
        </ul>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        text:
          "Podra acceder a las opciones de la aplicacion desplegando el menu lateral de la izquierda con el boton superior izquierdo."
      },
      {
        text:
          "Al ser una aplicacion basica, solo se manejan tres campos en una tabla Personas."
      },
      {
        text:
          "Los consumos http hacia la api se realizan con la libreria axios."
      },
      {
        text:
          "La api rest, la aplicacion de front y la bd se encuentran en heroku"
      },
      {
        text:
          "Favor de validar con la opcion ver personas cuando realice una actualizacion o eliminacion de datos"
      },
      {
        text:
          "Desarrollado por Santiago Peñuñuri Quintero version 0.1"
      }
    ],
    model: 1
  })
};
</script>

<style>
</style>