<template>
  <div class="verpersonas">
    <h1 class="subheading grey--text">Personas Registradas</h1>
    <v-container>
      <v-layout row wrap justify-center>
        <v-flex xs8>
          <v-data-table :headers="headers" class="elevation-1" :items="datos"></v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      headers: [
        { text: "id", value: "id" },
        { text: "Nombre", value: "nombre" },
        { text: "Fecha Nacimiento", value: "fechanacimiento" },
        { text: "Puesto", value: "puesto" }
      ],
      datos: [],
      amarillo: ""
    };
  },
  methods: {
    //Forma de consumo 1 con axios
    getPersonas() {
      this.datos = [];
      axios
        .get("https://flaskapiejemplo.herokuapp.com/personas")
        .then(response => {
          response.data.forEach(element => {
            this.datos.push(element);
          });
        });
    }
  },
  //El metodo se ejecuta al crearse el componente en el dom
  created() {
    this.getPersonas();
  }
};
</script>