<template>
  <v-dialog v-model="show" max-width="290">
    <v-card>
      <v-card-title class="headline">modal hijo</v-card-title>

      <v-card-text>{{msg}}.</v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="show = false">Disagree</v-btn>

        <v-btn color="green darken-1" text @click="show = false">Agree</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Dialog",
  props: {
    msg: String,
    value: Boolean
  },
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  },
  data() {
    return {
      dialog: false
    };
  }
};
</script>

<style>
</style>