<template>

  <v-app class="grey ">

  <Navbar/>
  <v-content class="mx-4 mb-4">
    <v-container>
      <router-view></router-view>
    </v-container>
  </v-content>

  </v-app>
</template>

<script>
import Navbar from '@/components/Navigation/Navbar.vue'

export default {
  name: 'App',

  components: {
    Navbar
  },

  data: () => ({
    drawer:null
  }),
};
</script>
